.container {
    background-color: hsl(234, 29%, 20%);
}
.main-container {
    width: 60%;
    height: 60%;
    display: flex;
    margin: 0 auto;

}

.first-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}